@use './abstracts' as *;
@use './layouts' as *;
@use './base' as *;

//Black button component
.btn {
  min-height: 2.5rem;
  min-width: 9.375rem;
  padding: 1rem 2rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  color: $color-primary-white;
  background-color: $color-primary-black;
  border-radius: 0.25rem;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: $color-secondary-black;
  }
}

.banner {
  @include justify-center;
  color: $color-primary-white;
  background-image: linear-gradient(
      to right,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url('../../assets/images/hero-bio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 1.5rem;
  @include tablet {
    padding: 0 2.5rem;
  }

  &--show {
    background-image: linear-gradient(
        to right,
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url('../../assets/images/hero-shows.jpg');

    padding: 1.5rem;
    @include tablet {
      padding: 2.5rem;
    }
  }

  &__container {
    @extend .container;
    min-height: 70vw;
    aspect-ratio: 16 / 9;
    animation-name: fadeIntoRight;
    animation-duration: 1.6s;
    animation-timing-function: ease-out;

    //Shows
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    @include tablet {
      min-height: 70vh;
      gap: 2rem;
    }

    @include desktop {
      min-height: 65vh;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 4rem;
    }
  }

  &__heading {
    @extend .heading-primary;
    width: 55%;

    @include tablet {
      width: 65%;
    }
    @include desktop {
      width: 75%;
      transform: translateY(-1.8rem);
    }
    &--small {
      font-size: 0.9rem;
      display: block;

      @include tablet {
        font-size: 1.5rem;
      }
    }
  }

  &__iframe {
    width: 100%;
    max-height: 9rem;
    border: none;
    border-radius: 0.5rem;
    @include tablet {
      width: 70%;
      min-height: 12rem;
    }
  }
}

// Gallery Image Items
.gallery {
  &__item {
    position: relative;
    flex-basis: calc(100% / 1);
    aspect-ratio: 16 / 9;
    filter: grayscale(65%);
    transition: all 0.2s;
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      aspect-ratio: 16 / 9;
      flex-basis: calc(100% / 3 - 1.5rem);
      &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__img {
    border-radius: 0.2rem;
    @include image-fit;
  }
}

//Form
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__group {
    min-height: 2.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    @include tablet {
      min-height: 3rem;
    }
  }

  &__label {
    color: $color-primary-silver;
  }

  &__name,
  &__comment {
    @extend .paragraph;
    font-family: inherit;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.75rem;
    background-color: $color-secondary-alabaster;
    outline: 1px solid $color-secondary-mercury;
    &:focus {
      outline: 1px solid $color-primary-black;
    }
    @include tablet {
      padding: 1rem;
    }

    &__comment {
      resize: vertical;
    }
  }

  &__btn {
    @extend .btn;
    align-self: flex-end;
    border: none;
  }

  &__error {
    outline: 1px solid lightcoral;
  }

  &__success {
    outline: 1px solid lightgreen;
  }
}

//Comment
.comment {
  @extend .paragraph;
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
  border-bottom: 1px solid $color-secondary-mercury;

  &__avatar {
    border-radius: 50%;
    max-width: 3rem;
    max-height: 3rem;
    object-fit: cover;
  }

  &__text-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__author {
    flex: 1;
    font-weight: 600;
  }

  &__date {
    color: $color-primary-silver;
  }

  &__text {
    flex-basis: 100%;
  }
}

.show {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  transition: all 0.2s;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: calc(100% + 2rem + 2rem);
    transform: translateX(calc(-2rem));
    border-bottom: 1px solid $color-secondary-mercury;

    @include tablet {
      width: calc(100% + 1.5rem + 1.5rem);
      transform: translateX(calc(-1.5rem));
    }
  }

  &:hover {
    background-color: $color-secondary-alabaster;

    &::after {
      background-color: $color-secondary-alabaster;
      z-index: 1;
    }
  }

  &:active {
    background-color: $color-secondary-mercury;
  }

  @include tablet {
    flex-direction: row;
    padding: 1.5rem 0;
  }

  &__text-box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 10;
  }

  &__title {
    color: $color-primary-silver;
    @include tablet {
      display: none;
    }

    &--first {
      @include tablet {
        display: block;
        position: absolute;
        transform: translate(1rem, -2.5rem);
      }
      @include desktop {
        transform: translate(1rem, -4rem);
      }
    }
  }

  &__date {
    font-weight: 600;
  }

  &__btn {
    @extend .btn;
    z-index: 10;
    border: none;
  }
}
