@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;
@use '../components' as *;

//Sections' padding
.about,
.gallery,
.comments {
  padding: 0 1.5rem 2rem 1.5rem;
  @include tablet {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

//About section
.about {
  background: $color-primary-white;
  @include justify-center;

  &__content {
    gap: 1rem;
    @extend .container;
    @extend .paragraph;
    @include flex-column;
    @include tablet {
      padding: 0 3rem;
    }
  }

  &__img-box {
    aspect-ratio: 16 / 9;
    min-height: 20vw;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__img {
    @include image-fit;
  }

  &__blockquote {
    gap: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    @include flex-column;
    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__citation {
    font-weight: 600;
    font-size: 1rem;
  }

  &__article {
    @include flex-column;
    gap: 1rem;
  }

  &__textbox {
    margin-top: 0.5rem;
    gap: 1rem;
    @include flex-column;
    @include tablet {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }
}

//Gallery Section
.gallery {
  background-color: $color-secondary-alabaster;
  @include justify-center;
  &__container {
    @extend .container;
  }
  &__inner-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  //Individual gallery items are located in the component file
}

//Comments Section
.comments {
  background-color: $color-primary-white;
  align-items: center;
  @include flex-column;

  //Container for the heading
  &__container {
    @extend .container;
  }

  //Centered small container
  &__container--small {
    @extend .container--small;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid $color-secondary-mercury;
    padding-bottom: 1.5rem;
    @include tablet {
      gap: 1.5rem;
    }
  }

  &__user-photo {
    border-radius: 50%;
    max-width: 3rem;
    max-height: 3rem;
    margin-top: 1.5rem;
    object-fit: cover;
  }

  &__list {
    @extend .container--small;
    list-style: none;
  }
  //Individual comment are located in the component file
}
