@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

.shows {
  background-color: $color-primary-white;
  padding: 0 1.5rem 2rem 1.5rem;
  @include justify-center;
  @include tablet {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  &__container {
    @extend .container;
    @extend .paragraph;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }
  }

  &__list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    @include desktop {
      margin-top: 6.5rem;
    }
  }
}
